body {
	counter-reset: issuetable;
}

h3 {
	padding-top: 20px;
}

h5 {
	padding-top: 20px;
}

#issuetable tr td:first-child span::after {
	counter-increment: issuetable;
	content: counter(issuetable);
}

#issuetable tr:nth-child(even) .lr span::after {
	content: "L";
}

#issuetable tr:nth-child(odd) .lr span::after {
	content: "R";
}

#issuetable td[rowspan] {
	padding: 0;
	background: white;
}

#articles-sortable {
	border-collapse: separate;
	border-spacing: 0 1px;
	margin: -1px 0;
	width: 100%;
	background: rgb(221, 221, 221);
}

#articles-sortable td {
	padding: 0 5px;
}

#articles-sortable tr {
	background: white;
}

#articles-sortable tr:nth-child(odd) {
	background-color: rgb(249, 249, 249);
}

#articles-sortable td:first-child, #articles-sortable td:last-child {
	width: 40%;
}

.sortable-ghost td {
	border: dashed rgb(200, 200, 200) !important;
	border-width: 2px 0 2px 0 !important;
}

.sortable-ghost td:first-child {
	border-width: 2px 0 2px 2px !important;
}

.sortable-ghost td:last-child {
	border-width: 2px 2px 2px 0 !important;
}
